@import "../../scss/colors.scss";

.footer {
  padding: 30px;
  padding-top: 100px;
  box-sizing: border-box;

  @media screen and (max-width: 769px) {
    padding: 15px;
  }

  &__text {
    color: #FFF;
    text-align: center;
    font-family: Jura;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 1025px) {
      font-size: 18px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
      font-size: 16px;
    }
  }
}